<section id="github-projects" class="services section light-background">
  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>GitHub Projects</h2>
    <p>
      This section includes my public GitHub projects and contributions. They
      cover areas like full-stack development, deployment with Docker and Nginx,
      and database integration. Each project is a small step in learning,
      experimenting, and improving my skills while sharing work with the
      developer community.
    </p>
  </div>
  <!-- End Section Title -->

  <div class="container">
    <div class="row gy-4">
      <div
        class="col-lg-4 col-md-6 service-item d-flex"
        data-aos="fade-up"
        data-aos-delay="100"
      >
        <div class="icon flex-shrink-0">
          <i class="bi bi-router"></i>
        </div>
        <div>
          <h4 class="title">
            <a
              href="https://github.com/jesjesti/dropzone"
              class="stretched-link"
              target="_blank"
              >Dropzone
            </a>
          </h4>
          <p class="description">
            Dropzone is a lightweight, offline-first file sharing application
            built with React (Vite) and Node.js (Express). It enables seamless
            file uploads, previews, and downloads across devices connected to
            the same local network, eliminating the need for internet
            connectivity.
          </p>
        </div>
      </div>
      <!-- End Service Item -->
    </div>
  </div>
</section>
