<header id="header" class="header dark-background d-flex flex-column">
  <i class="header-toggle d-xl-none bi bi-list"></i>

  <div class="profile-img">
    <img
      src="assets/img/custom/profile-dp-img.jpg"
      alt=""
      class="img-fluid rounded-circle"
    />
  </div>

  <a
    href="index.html"
    class="logo d-flex align-items-center justify-content-center"
  >
    <h1 class="sitename">Jestin T Wilson</h1>
  </a>

  <div class="social-links text-center">
    <a href="https://github.com/jesjesti" class="github" target="_blank"
      ><i class="bi bi-github"></i
    ></a>
    <a
      href="https://www.linkedin.com/in/jestin-wilson-35656ba6?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app"
      class="linkedin"
      target="_blank"
      ><i class="bi bi-linkedin"></i
    ></a>
    <a
      href="https://www.instagram.com/jestin_t_wilson?igsh=MTN6ZGJrams5dnVrbQ%3D%3D&utm_source=qr"
      class="instagram"
      target="_blank"
      ><i class="bi bi-instagram"></i
    ></a>
    <a href="https://x.com/_jestin_wilson?s=21" class="twitter" target="_blank"
      ><i class="bi bi-twitter-x"></i
    ></a>
  </div>

  <nav id="navmenu" class="navmenu">
    <ul>
      <li>
        <a href="#home" class="active"
          ><i class="bi bi-house navicon"></i>Home</a
        >
      </li>
      <li>
        <a href="#about"><i class="bi bi-person navicon"></i> About</a>
      </li>
      <li>
        <a href="#skills"><i class="bi bi-code-slash navicon"></i> Skills</a>
      </li>
      <li>
        <a href="#resume"
          ><i class="bi bi-file-earmark-text navicon"></i> Resume</a
        >
      </li>
      <li>
        <a href="#portfolio"><i class="bi bi-images navicon"></i> Portfolio</a>
      </li>
      <li>
        <a href="#major-projects"
          ><i class="bi bi-rocket-takeoff navicon"></i> Projects
        </a>
      </li>
      <li>
        <a href="#github-projects"
          ><i class="bi bi-github navicon"></i> GitHub</a
        >
      </li>
      <li>
        <a href="#contact"><i class="bi bi-envelope navicon"></i> Contact</a>
      </li>
    </ul>
  </nav>
</header>
