<section id="resume" class="resume section">
  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Resume</h2>
    <p>
      Over 10 years of software development experience with a proven track
      record as a Full-Stack Developer. Skilled in designing and implementing
      scalable architectures, with strong expertise in both SQL and NoSQL
      databases. Experienced in delivering high-quality solutions within strict
      Agile development environments.
    </p>
  </div>
  <!-- End Section Title -->

  <div class="container">
    <div class="row">
      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
        <h3 class="resume-title">Education</h3>
        <div class="resume-item">
          <h4>Diploma in Computer Engineering</h4>
          <h5>2011 - 2014</h5>
          <p>STATE BOARD OF TECHNICAL EDUCATION KERALA, INDIA</p>
          <p>
            <em>GOVERNMENT POLYTECHNIC COLLEGE, MEPPADI ,WAYANAD </em>
          </p>
          <p>
            A Polytechnic Diploma in Computer Engineering provides foundational
            knowledge and practical skills in software development, computer
            systems, networking, and hardware. The program equips students to
            design, implement, and maintain computing solutions, preparing them
            for entry-level roles in IT, software development, and related
            technical fields
          </p>
        </div>
        <!-- Edn Resume Item -->

        <div class="resume-item">
          <h4>Class XII</h4>
          <h5>2009 - 2011</h5>
          <p>BOARD OF HIGHER SECONDARY EXAMINATIONS, KERALA</p>
          <p>
            <em>ST. CATHERINE'S HSS, PAYYAMPALLY, WAYANAD KERALA </em>
          </p>
          <p>
            Completed Higher Secondary Education under the General Science
            stream, securing 70% marks, with a strong foundation in core
            scientific and mathematical concepts.
          </p>
        </div>
        <!-- Edn Resume Item -->
      </div>

      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
        <h3 class="resume-title">Professional Experience</h3>
        <div class="resume-item">
          <h4>Lead Engineer (Contract employee)</h4>
          <h5>September 2025 - Present</h5>
          <p>
            <em>
              <img
                src="assets/img/custom/company/pfizer-log.png"
                alt="Pfizer Logo"
                style="height: 24px; vertical-align: middle; margin-right: 8px"
              />
              <a href="https://www.pfizer.com/">Pfizer Digital</a>
            </em>
          </p>
          <ul>
            <li>
              Full stack contributor in both Frontend and Backend projects.
            </li>
            <li>
              Working on both support and development tickets in a strict agile
              environment.
            </li>
            <li>
              Collaborate with product managers, designers, and cross-functional
              teams to gather requirements and translate them into technical
              solutions.
            </li>
            <li>
              Build responsive user interfaces using modern front-end frameworks
              such as React.js
            </li>
            <li>
              Participate in Agile development processes, including sprint
              planning, code reviews, and continuous integration/continuous
              deployment (CI/CD)
            </li>
            <li>
              Troubleshoot, debug, and optimize application performance across
              the full stack.
            </li>
            <li>
              Stay updated with emerging technologies and propose improvements
              to enhance system architecture and user experience.
            </li>
          </ul>
        </div>
        <!-- Edn Resume Item -->
        <div class="resume-item">
          <h4>Associate Architect</h4>
          <h5>February 2023 - Auguest 2025</h5>
          <p>
            <em>
              <img
                src="assets/img/custom/company/qburst-logo.png"
                alt="Pfizer Logo"
                style="height: 24px; vertical-align: middle; margin-right: 8px"
              />
              <a href="https://www.qburst.com/"
                >QBurst Technologies Pvt. Ltd.</a
              >
            </em>
          </p>
          <ul>
            <li>
              Working as an associate architect to designing solutions using
              cloud services in multiple projects and team.
            </li>
            <li>
              Assist in designing scalable, modular, and maintainable software
              architectures for enterprise applications.
            </li>
            <li>
              Involving in designing the overall architecture of the system and
              technically driving the team to implement the proposed solutions
            </li>
            <li>
              Collaborate with senior architects, developers, and stakeholders
              to gather requirements and define system specifications.
            </li>
            <li>
              Develop and document architectural patterns, guidelines, and best
              practices to ensure consistent software development.
            </li>
            <li>
              Evaluate and recommend technologies, frameworks, and tools to meet
              business and technical requirements. Conduct code and design
              reviews to ensure adherence to architecture standards and quality
              benchmarks.
            </li>
            <li>
              Support development teams in solving complex technical challenges
              and optimizing system performance. Assist in defining integration
              strategies for APIs, microservices, and third-party services.
            </li>
          </ul>
        </div>
        <div class="resume-item">
          <h4>Senior Software Engineer</h4>
          <h5>March 2021 - December 2022</h5>
          <p>
            <em>
              <img
                src="assets/img/custom/company/ebay-logo.png"
                alt="Pfizer Logo"
                style="height: 24px; vertical-align: middle; margin-right: 8px"
              />
              <a href="https://www.ebay.com/">Ebay (Contract employee)</a>
            </em>
          </p>
          <ul>
            <li>
              Induvidual contributor in both Frontend and Backend projects.
              Design, develop, and maintain robust backend services and APIs
              using Spring Boot and related frameworks.
            </li>
            <li>
              Creating spike documentation and presenting it in design review
              sessions and Implement RESTful APIs and microservices that support
              frontend and mobile applications.
            </li>
            <li>
              Collaborate with frontend developers, DevOps, and QA teams to
              deliver end-to-end solutions and Optimize application performance,
              scalability, and reliability in production environments.
            </li>
            <li>
              Participate in Agile development processes including sprint
              planning, code reviews, and CI/CD pipelines.
            </li>
            <li>
              Implementation of Microservice projects for migrating old stack to
              a new platform.
            </li>
            <li>
              Creating experiments for analyzing the user interaction metrics.
            </li>
          </ul>
        </div>
        <div class="resume-item">
          <h4>Senior Software Engineer</h4>
          <h5>November 2020 - February 2023</h5>
          <p>
            <em>
              <img
                src="assets/img/custom/company/saasvaap_logo.png"
                alt="Pfizer Logo"
                style="height: 24px; vertical-align: middle; margin-right: 8px"
              />
              <a href="https://saasvaap.com/">Saasvaap Techies Pvt Limited</a>
            </em>
          </p>
          <ul>
            <li>
              Lead the design, development, and implementation of complex
              software solutions across the full stack.
            </li>
            <li>
              Mentor and guide junior and mid-level engineers, promoting best
              coding practices and design patterns.
            </li>
            <li>
              Collaborate with product managers, architects, and
              cross-functional teams to define technical requirements and
              deliverables.
            </li>
            <li>
              Ensure software quality through code reviews, unit testing, and
              integration testing.
            </li>
            <li>
              Troubleshoot, debug, and resolve critical production issues in a
              timely manner.
            </li>
            <li>
              Participate in architectural decisions and contribute to system
              design, technology selection, and process improvements.
            </li>
          </ul>
        </div>
        <div class="resume-item">
          <h4>Software Engineer</h4>
          <h5>July 2019 - November 2020</h5>
          <p>
            <em>
              <img
                src="assets/img/custom/company/lifetrenz-logo.png"
                alt="Pfizer Logo"
                style="height: 24px; vertical-align: middle; margin-right: 8px"
              />
              <a href="https://www.lifetrenz.com/index.html">Lifetrenz</a>
            </em>
          </p>
          <ul>
            <li>
              Design, develop, and maintain secure, scalable web and mobile
              applications for healthcare platforms.
            </li>
            <li>
              Build and integrate patient management systems, electronic health
              records (EHR), and telemedicine solutions.
            </li>
            <li>
              Develop responsive front-end interfaces using frameworks like
              React.js, Angular for patient and provider portals.
            </li>
            <li>
              Implement robust backend services, APIs, and microservices using
              PHP, ensuring compliance with healthcare standards.
            </li>
            <li>
              Work with SQL and NoSQL databases to handle sensitive patient data
              efficiently and securely.
            </li>
            <li>
              Integrate third-party healthcare APIs, medical devices, and cloud
              services for data exchange and interoperability. Implement
              authentication, authorization, and encryption to safeguard
              confidential medical data.
            </li>
            <li>
              Collaborate with healthcare professionals to translate domain
              requirements into technical solutions.
            </li>
          </ul>
        </div>
        <div class="resume-item">
          <h4>Software engineer (Freelance)</h4>
          <h5>June 2015 - June 2019</h5>
          <p>
            <em>
              <img
                src="assets/img/custom/company/eSalePos-logo.png"
                alt="Pfizer Logo"
                style="height: 24px; vertical-align: middle; margin-right: 8px"
              />
              <a href="https://esalepos.com/">eSale POS</a>
            </em>
          </p>
          <ul>
            <li>
              Develop and maintain POS applications with features such as
              billing, inventory management, and payment integrations.
            </li>
            <li>
              Ensure secure and reliable handling of transactions, including
              integration with payment gateways and hardware devices (e.g.,
              barcode scanners, printers).
            </li>
            <li>
              Collaborate with cross-functional teams to optimize system
              performance, enhance user experience, and ensure compliance with
              financial and retail standards.
            </li>
            <li>
              Coordination and collaboration in all the development and
              deployment activities. Troubleshoot, debug, and optimize
              application performance to ensure high availability and
              reliability
            </li>
            <li>
              Worked on development, and implementation of complex software
              solutions across the full stack. Work with SQL and NoSQL databases
              to handle sensitive patient data efficiently and securely.
            </li>
            <li>
              Integrate third-party healthcare APIs, medical devices, and cloud
              services for data exchange and interoperability. Implement
              authentication, authorization, and encryption to safeguard
              confidential medical data.
            </li>
            <li>
              Collaborate with healthcare professionals to translate domain
              requirements into technical solutions.
            </li>
          </ul>
        </div>
        <!-- Edn Resume Item -->
      </div>
    </div>
  </div>
</section>
